	.pln {
		color: #000
	}
	@media screen {
		.str {
			color: #080
		}
		.kwd {
			color: #008
		}
		.com {
			color: #800
		}
		.typ {
			color: #606
		}
		.lit {
			color: #066
		}
		.pun, .opn, .clo {
			color: #660
		}
		.tag {
			color: #008
		}
		.atn {
			color: #606
		}
		.atv {
			color: #080
		}
		.dec, .var {
			color: #606
		}
		.fun {
			color: red
		}
	}
	@media print, projection {
		.str {
			color: #060
		}
		.kwd {
			color: #006;
			font-weight: bold
		}
		.com {
			color: #600;
			font-style: italic
		}
		.typ {
			color: #404;
			font-weight: bold
		}
		.lit {
			color: #044
		}
		.pun, .opn, .clo {
			color: #440
		}
		.tag {
			color: #006;
			font-weight: bold
		}
		.atn {
			color: #404
		}
		.atv {
			color: #060
		}
	}
	pre.prettyprint {
		padding: 2px;
		border: 1px solid #888
	}
	ol.linenums {
		margin-top: 0;
		margin-bottom: 0
	}
	li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
		list-style-type: none
	}
	li.L1, li.L3, li.L5, li.L7, li.L9 {
		background: #eee
	}
	body {
		margin-top: 1.0em;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAECAMAAAD7wpwzAAAAZlBMVEX4+Pjs7Ozj4+Pq6url5eXp6enn5+fm5ubk5OTr6+vi4uLg4ODv7+/f39/x8fHc3Nzz8/Pa2tr19fXY2Nj29vb39/fZ2dnb29vy8vLe3t7w8PDu7u7o6Ojt7e3h4eHd3d309PTX19fP0eKeAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wBDQITLUGWThAAAAASSURBVAjXY2AYQMBIuhYmPHIAAVMABA0ayWUAAAAASUVORK5CYII=);
		color: #000;
		font-family: Arial, Helvetica, sans-serif;
		font-size: .85em;
	}
	#container {
		margin: 0 auto;
		width: 1000px;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000099;
	}
	h3 {
		border-bottom: 1px solid #66cc33;
		margin-bottom: 0;
	}
	h5 {
		font-size: 1.0em;
		font-style: italic;
		color: #a64311;
	}
	code, .code, dl.methods dt {
		font-size: 1.2em;
		color: #a64311;
	}
	dl {
		margin-left: 10px;
	}
	dl dt {
		font-style: italic;
		margin: 0;
	}
	dl dd {
		margin: 0;
	}
	dl dd p, dl dd ul {
		margin-top: 0;
		margin-bottom: 13px;
	}
	h1 a {
		text-decoration: none
	}
	.description {
		font-size: 1.2em;
		margin-bottom: 30px;
		margin-top: 30px;
		font-style: italic;
	}
	.download {
		float: right;
	}
	pre {
		background: #000;
		color: #fff;
		padding: 15px;
		font-family: monospace;
	}
	hr {
		border: 0;
		width: 80%;
		border-bottom: 1px solid #aaa
	}
	.footer {
		text-align: center;
		padding-top: 30px;
		font-style: italic;
	}
	h4, h5 {
		margin-bottom: 0;
	}
	pre {
		font-size: 14px;
		background-color: #eeeeee;
		color: #000;
		margin-top: 0;
	}
	label.label {
		display: block;
		width: 120px;
		padding-top: 5px;
		font-weight: bold;
		height: 30px;
	}
	div.row {
		margin-top: 10px;
	}
	input.button {
		margin-top: 5px;
	}
	/* shows overwriting styles via CSS */
	#css .toggle-container {
		width: 175px;
	}
	#css .toggle-container .toggle-handle {
		width: 5px;
	}